# OS
.DS_Store

# Frontend
frontend/node_modules
frontend/.next
frontend/.turbo
frontend/.env
frontend/tsconfig.tsbuildinfo

# Backend
backend/data
backend/storage
backend/.env
backend/scripts/node_modules
backend/scripts/bun.lock

# Logs
*.log
